.bold {font-weight: bold}

#infobox {
    width:355px;
    margin:5px;
    position: absolute;
    background: #FFFFE0; /*see http://www.rapidtables.com/web/color/Yellow_Color.htm*/
    padding: 10px;
    right:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    display: none;
}

#infobox td {
    padding:3px;
    border-top:1px solid #BDB76B;
    border-left:1px solid #BDB76B;
}
#infobox .zerotop {
    border-top:0;
}
#infobox .zeroleft {
    border-left:0;
}

#diagram-wrapper {
    float:left;
    margin-top:10px;
    padding:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}



/*------------------------------------------------------------------------------
Switcher see http://www.w3schools.com/howto/howto_css_switch.asp    
and http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
------------------------------------------------------------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


